page-mapa {
        .tinted-image {
                min-height: 170px;
                background: 
                /* top, transparent red, faked with gradient */ 
                linear-gradient(
                RGBA(108, 38, 164, 0.65),
                RGBA(108, 38, 164, 0.65)
                ),
                /* bottom, image */
                url("../assets/img/ubication.png");
                background-size: cover;
        }
        .mapa_header {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                color: white;
                p {
                        padding-left: 30px;
                        padding-right: 30px;
                        text-align: center;
                }
        }
        ion-app._gmaps_cdv_ .nav-decor {
                background-color: transparent !important;
        }
}

//Importante para reparar el problema de mapa en negro en IOS
ion-app._gmaps_cdv_ .nav-decor {
        background-color: transparent !important;
}
